.egmRjs {
    width: 75%;
    background: rgb(255, 255, 255);
    float: left;
    border: 2px solid rgb(22,131,147);
}

th {
    background: rgb(230,230,230);
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
    background: rgb(22,131,147);
}