body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    min-height: 100%;
    position: relative;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

html {
    height: 100%;
    box-sizing: border-box;
}
